.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap:50px;
}
.images{
    display: flex;
    overflow-x: scroll;
}
.images a{
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT';
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
 
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
.item{
    display: inline-block;
    border: 1px solid black;
    margin: 0.5em;
    max-width: 20em;
    height: 40vh;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #353131;
}
.item p{
    padding-left: 10px;
}
.Card-1{
    width: 90%; 
    min-height: 40vh;
    border-radius: 8px;
    padding: 20px;
    background-color: #fdfdfd;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);  
    flex: wrap;
}
.Card-1 h4{
    font-family:'Gill Sans';
    font-weight: 500;
}
.images img{
    max-height: 30vh;
    padding: 10px 40px;
}
