.Navbar-main{
    width: 100%;
    padding: 0;
}

.Navbar {
    background-color: #f7f7f7d5;
    padding: 5px 10px;
    display: flex;
    justify-content:center; 
    align-items: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap; 
}

.urbanBazaar {
    font-size: 2em;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900; 
    color: #1f5bca;
    text-shadow: 5px 2px 6px rgba(219, 213, 219, 0.5);
    -webkit-text-stroke: 1px rgba(17, 14, 14, 0.856); 
}
.urbanBazaarBreak {
    font-size: 1.5em;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800; 
    color: #1f5bca;
    text-shadow: 5px 2px 6px rgba(219, 213, 219, 0.5);
    -webkit-text-stroke: 1px rgba(17, 14, 14, 0.856);  
}

#account-icon {
    height: 2rem; 
    width: 1.5rem; 
    color: #1a1515;
}
.account{
    display: flex;
}
.account p {
    margin: 0; 
    font-size: 1rem; 
    padding: 0.2em;
    color: #1a1515;
}

.custom-dropdown-menu {
    background: #d1d9daf6; 
    min-width: 10rem;
}
#dropdown-icon {
    display: flex; 
    align-items: center; 
    cursor: pointer;
    color: #0e0c0c;
}

#cart-count, #wishlist-count {
    background-color: rgb(25, 45, 158);
    color: #fff;
    border-radius: 50%; 
    width: 1.5em; 
    height: 1.5em;
    text-align: center;
    font-size: 12px;
}

#cart-icon, #wishlist-icon{
    font-size: 2rem;
    color: #070606;
    height: 2rem;
    width: 1.5rem;
}
#wishlist-icon{
    width: 1.8rem;
}
#notification-icon{
    width: 1.9rem;
    height: 1.8rem;
}

.cart-icon-container,.wishlist-icon-container{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.Navbar-1{
    background-color: #393E46;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.Navbar-1 a{
    text-decoration: none;
    font-size: 1.2em;
    font-family:'Gill Sans';
    color: #a6e3e9be;
    font-weight: 600;
}
